<div class="grandParentContaniner">

  <div class="container">

    <h1 id="Judment_title">Care to find out?</h1>

      <form class="judgment_form" action="/judgments" method="POST" enctype="multipart/form-data">

        <div class="form-inputs" id="picture_form">
          <label for="file">Picture</label>
          <input class="input-box" id="file" type="file" name="file">
        </div>

        <div class="form-inputs">
           <label for="name">Name</label>
           <input class="input-box" id="name" type="text" name="name">
        </div>

        <div class="form-inputs">
          <input class="submit-button" type="submit" value="judgment">
        </div>

      </form>

  </div>

</div>





