<div class="grandParentContaniner">

  <div class="container">
 
    	
		<div class='judgment_form'>

    	<div class="form-inputs">
    		<h1 #name ><%= @name %></h1>
    	</div>

    	<div class="form-inputs">
    		<img id ="picture" src="/<%= @filename %>"/>
    	</div>

    	<div class="form-inputs">  		
    		<p id="tags"><%= @tags %></p>
 			</div>
		
		</div>
  </div>

</div>
