html, body {
	height:100%;
}

html {
  background: -webkit-linear-gradient(#0b8793, #360033);
  background: -o-linear-gradient(#0b8793, #360033);
  background: linear-gradient(#0b8793, #360033); /* Safari 5.1 to 6.0 */ /* Opera 11.1 to 12.0 */ /* Firefox 3.6 to 15 */ /* Standard syntax */
}				

.grandParentContaniner {
	display: table; 
	/*height:100%; */
	margin: auto;
}

#picture{
	padding-left: 200px;
}

#tags {
	color: white;

#name {
	color: white;
}

}
.container {
	display: inline-block;
 	vertical-align: middle;
}

.response {
	color: white;
	padding-top: 80px;
}

.question-list {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}

.author {
float: right;
padding-right: 15px;
padding-top: 12px;
}

.question-link {
	text-decoration-line: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 95px;

}

header {
	width: 100%;
	height: 140px;
	/*background-color: #3dd7e5;*/
	color: white;
}

header h1 {
	font-size: 50px;
	position: relative;
  margin: 0px;
  float:left;
  padding-top: 48px;
  padding-left: 40px;
}

input {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 17px;
  padding-left: 116px;
  /*font-weight: 700;*/
  color: white;
  /*background-color: black;*/
  display: inline-block;
}
.submit-button:focus + input,
.submit-button + input:hover {
	color: #0c8591;
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
}
.header_links {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	padding-top: 77px;
	padding-right: 45px;
	color: white;
	float: right;
}

#Reg_title {
	padding-left: 80px;
	padding-top: 20px;
}

#Judgment_title {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	color: white;
}

#Login_title {
	padding-left: 105px;
	padding-top: 20px;
}

.form-inputs {
	padding: 10px;
	font-size: 17px;
	color: white;
}

.input-box {
	width: 100%;
	background-color: #e8e8e8;
	color: #64676b;
	box-sizing: border-box;
}
.home-page-links{
	margin: 15px;
	padding: 10px;

}
.submit-button {
	width: 100%;
	background-color: #340537;
	padding: 10px;
	background-size:50px;
	color: white;
	font-weight: bold;
}

.nav-links {
	text-decoration-line: none;
	color: white;
	margin: 1px;
}







